@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Card Game</h1>
    <p class="lead">Columbus Card Game!</p>
    <p><a href="~/Game/Index" class="btn btn-primary btn-lg">Get ready to play the Card game.. &raquo;</a></p>

 
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Card Game description</h2>
        <p class="lead text-info">
            The card-deck assignment 🃏
            The assignment is about designing and implementing an easy card game.

            The card-game should have one or more decks.
            The assignment is considered done when you can mix, sort and pull cards from the card game and the parts are unit-tested.
            Your sorting shall sort the cards in the game according to color and value: hearts (Ace, 2, 3 ... King), diamonds, clover, spades etc. All cards in the decks should be sorted.
        </p>
        <p><a class="btn btn-default" href="https://www.columbusglobal.com/coding-assignment-columbus">Learn more &raquo;</a></p>
    </div>
   
</div>